*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: lightgray;
}

h1{
    color: white;
    text-align: center;
}
.container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

form{
    width: 300px;
    background-color: darkslategray;
    border-radius: 5px;
    text-align: center;
    margin-top: 50px;
}

input{
    width: 280px;
    height: 40px;
    padding: 0 10px;
    background-color: darkslategray;
    color: white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid white;
}
input:hover{
    border-bottom: 1px solid black;
}

input:focus {
    outline: none;
}
::placeholder{
    color: white;
}
.botao{
    width: 280px;
    height: 40px;
    background-color: lightgrey;
    color: black;
    font-size: 15px;
    border: 0 !important;
    margin-bottom: 15px;
}

.botao:hover{
    background-color: darkgrey;
}